<div class="row">
  <div class="large-9 columns" role="content">
    <h1 class="subtitle">Upcoming Events</h1>

    <table>
      <thead>
        <tr>

          <th>Name</th>
          <th>Duration</th>
          <th>Description</th>
          <th>Number volunteer</th>
           <th>Category</th>
          <th>Active</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.duration %></td>
            <td><%= event.description %></td>
            <td><%= event.number_volunteer %></td>
            <td><%= event.categoryID %></td>
            <td><%= event.active %></td>
            <% if user_signed_in? %> <!-- && current_user == event.user -->
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Sign for an Event', new_user_register_path, class: 'button radius primary  ' %>
  </div>

  <aside class="large-3 columns">
    <h4 class="subtitle">Sidebar</h4>
  </aside>
</div>
